<%= turbo_stream.prepend "new-users" do %>
  <div><span class="font-bold">Email:</span> <%= @user.email %></div>
  <div><span class="font-bold">Date:</span> <%= @user.created_at.to_formatted_s(:short) %></div>
<% end %>