<div class="grid grid-cols-12 gap-12">
  <div class="col-span-4">
    <h2 class="font-bold text-xl mb-8">Registration</h2>
    <hr />
    <div id="registration-form" class="mt-4 pt-4"></div>
  </div>
  <div class="col-span-7">
    <h2 class="font-bold text-xl mb-8">New users</h2>
    <hr />
    <table class="mt-8 table-auto w-full text-gray-500 overflow-x-auto border">
      <tr>
        <thead class="text-gray-700 uppercase bg-gray-50">
          <th class="text-left font-bold px-6 py-3">Email</th>
          <th class="text-left font-bold px-6 py-3">Date</th>
        </thead>
        <tbody id="new-users">
          <%= render @users %>
        </tbody>
      </tr>
    </table>
  </div>
</div>
